.our_feet__top {
    display: flex;
    margin-top: -245px;
    background: #fff;
    position: relative;
    z-index: 1;
    margin-bottom: 51px;
}

.content_term__top.content_term__top--out_feet {
    padding-bottom: 195px;
    margin-bottom: 90px;
}

.our_feet__top__item__image {
    font-size: 0;
    height: 285px;
}

.our_feet__top__item {
    display: flex;
    position: relative;
    flex: 1;
    color: inherit;
    overflow: hidden;
    box-shadow: 2px 6px 28px rgba(123, 117, 117, 0.31);
    border-right: 1px solid;
    border-bottom: 6px solid transparent;
}

.our_feet__top__item__info {
    position: absolute;
    top: 31px;
    left: 23px;
}

.our_feet__top__item__image img {
    width: 100%;
    height: 100%;
    transition: 0.25s;
    object-fit: contain;
    object-position: 100% 0;
}

.our_feet__top__item__subtitle {
    color: #7B7575;
}

.our_feet__top__item__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 113%;
    text-transform: capitalize;
    color: #28364A;
}

.our_feet__top__item:last-child {
    border-right: none;
}

.our_feet__top__item:hover {
    border-bottom: 6px solid #ffcd00;
}

.our_feet__top__item:hover .our_feet__top__item__image img {
    transform: scale(1.05) translate(-5px, 0px);
}

.our_feet__block__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 118%;
    text-transform: uppercase;
    color: #2B435F;
    margin-bottom: 30px;
}

.our_feet__block__x {
    gap: 20px;
    background: #FFFFFF;
    border-radius: 4px;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
}

.our_feet__block__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.our_feet__block__x__slider {
    width: 350px;
}

.our_feet__block__x__info {
    width: calc(100% - 350px - 20px);
}

.content_page--our_feet {
    background: #F5F4EF;
}

.our_feet__block__x__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 42px;
    color: #232121;
    max-width: 600px;
    margin-bottom: 30px;
}

.our_feet__block__x__list ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 15px 12px;
}

.our_feet__block__x__list li:before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18455 2.99721 7.13631 4.39828 5.49706C5.79935 3.85781 7.69279 2.71537 9.79619 2.24013C11.8996 1.7649 14.1003 1.98232 16.07 2.85999' stroke='%23FFCD00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22 4L12 14.01L9 11.01' stroke='%23FFCD00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: -1px;
}

.our_feet__block__x__list li {
    position: relative;
    padding-left: 34px;
    width: calc(100% / 3 - 9px);
    line-height: 1.5;
}

.our_feet__block__x__btns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.btn_ghost {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: inherit;
    border-radius: 4px;
    border: 1px solid;
    padding: 10px 40px;
}

.our_feet__block__x__list {
    margin-bottom: 32px;
}

.btn_our_feet_1 {
    width: 185px;
    justify-content: center;
}

.btn_our_feet_2 {
    width: 190px;
}

.btn_ghost:hover {
    background: #232121;
    color: #fff;
    border-color: #232121;
}

.our_feet__block__x__slider .slick-arrow {
    background-color: transparent;
    top: auto;
    transform: none;
    bottom: 0;
    z-index: 5;
}

.our_feet__block__x__slider {
    padding-bottom: 40px;
}

.our_feet__block__x__slider .slick-prev {
    left: 0;
}

.our_feet__block__x__slider .slick-next {
    right: 0;
}

.our_feet__block__x .slick-dots {
    bottom: 11px;
}

.our_feet__block {
    margin-bottom: 60px;
}

.content_page--our_feet {
    padding-bottom: 100px;
}

@media screen and (max-width: 1260px) {}

@media screen and (max-width: 1200px) {
    .our_feet__top {
        margin-left: -20px;
        margin-right: -20px;
    }

    .our_feet__top__item__subtitle {
        font-size: 14px;
    }

    .our_feet__top__item__title {
        font-size: 25px;
    }

    .our_feet__top__item__image {
        height: 240px;
        width: 100%;
    }

    .our_feet__top__item__info {
        top: 25px;
        left: 20px;
    }
}

@media screen and (max-width: 1100px) {
    .our_feet__block__title {
        font-size: 22px;
        margin-bottom: 22px;
    }

    .our_feet__block__x__list li {
        width: calc(100% / 2 - 9px);
    }
}

@media screen and (max-width: 900px) {
    .our_feet__top__item {
        flex: none;
        width: 200px;
    }

    .our_feet__top {
        overflow: scroll;
        margin-bottom: 40px;
    }

    .our_feet__top::-webkit-scrollbar {
        display: none;
    }

    .our_feet__top {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .content_term__top.content_term__top--out_feet {
        margin-bottom: 85px;
        padding-top: 45px;
    }

    .our_feet__top__item__title {
        font-size: 20px;
        margin-top: 4px;
    }

    .our_feet__top__item__subtitle {
        font-size: 12px;
    }

    .our_feet__block__x__slider {
        width: 100%;
        margin-bottom: 25px;
    }

    .our_feet__block__x__slide img {
        width: 100%;
    }

    .our_feet__block__x__slide {
        max-width: 400px;
    }

    .our_feet__block__x {
        margin: 0 -20px;
        border-radius: 0;
    }

    .our_feet__block__x__info {
        width: 100%;
        max-width: 600px;
    }
}

@media screen and (max-width: 550px) {
    .our_feet__block__x {
        padding: 30px 20px;
    }

    .our_feet__block__x__title {
        font-size: 20px;
        line-height: 1.35;
        font-weight: 600;
    }

    .our_feet__block__x__list li {
        font-size: 14px;
    }

    .our_feet__block__x__list ul {
        gap: 20px 10px;
    }

    .our_feet__block__x__btns {
        flex-direction: column;
        gap: 10px;
    }

    .our_feet__block__x__btns a {
        width: 100%;
        max-width: 300px;
    }
}