<div class="our_feet__block__x">
    <div class="our_feet__block__x__slider js_our_feet__block__x__slider">
        @@for (var i = 0; i < 4; i++) {
            <div class="our_feet__block__x__slide">
                <img src="@@image">
            </div>
        }
    </div>
    <div class="our_feet__block__x__info">
        <div class="our_feet__block__x__title">@@title</div>
        <div class="our_feet__block__x__list">
            <ul>
                @@info
            </ul>
        </div>
        <div class="our_feet__block__x__btns">
            <a href="" class="btn_default btn_ghost btn_our_feet_1">Rates</a>
            <a href="" class="btn_default btn_x btn_our_feet_2">Reserve now</a>
        </div>
    </div>
</div>