.content_page__2_section__map {
    height: 100%;
    width: 100%;
}

.content_page__2_section__info.content_page__2_section__info--contact {
    width: calc(100% - 505px);
    padding-left: 112px;
}

.content_page__2_section__image.content_page__2_section__image--contact {
    width: calc(505px + (100vw - 1220px)/ 2);
    margin-left: calc(-1 * (100vw - 1220px)/ 2);
    min-height: 960px;
}

.field_row {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    gap: 20px;
}

.field_item input {
    width: 100%;
    padding: 13px 20px 13px;
    border: 1px solid;
    border-radius: 0;
    background: #f0f0ef;
    border: 1px solid #f0f0ef;
    border-radius: 2px;
    display: block;
}

.field_item {
    flex: 1;
}

.field_item_title {
    margin-bottom: 5px;
}

.field_item_x textarea {
    width: 100%;
    padding: 13px 20px;
    border-radius: 0;
    resize: vertical;
    height: 120px;
    background: #f0f0ef;
    border: 1px solid #f0f0ef;
    border-radius: 2px;
    min-height: 100px;
}

.field_row.field_row--al_end {
    justify-content: flex-end;
}

.field_row.field_row--al_end .field_item {
    flex: none;
}

.btn_form_x {
    padding: 15px;
    width: 290px;
    margin-top: 0;
}

.field_item_x {
    display: flex;
}


.content_page__2_section__contact {
    position: absolute;
    z-index: 2;
    top: 70px;
    right: 150px;
    width: 325px;
    background: #F5F4EF;
    padding: 40px 40px;
}

.content_page__2_section__contact__item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.content_page__2_section__contact__item a {
    color: inherit;
    text-decoration: none;
}

.content_page__2_section__contact__item:last-child {
    margin-bottom: 0;
}

.content_page__2_section__contact__item svg {
    margin-right: 15px;
    margin-top: -0.5px;
}

.content_page__2_section__contact__item__link a:hover {
    color: #d52b3f;
}

.content_page__2_section__contact__item__title {
    margin-right: 5px;
}

@media screen and (max-width: 1260px) {
    .content_page__2_section__image.content_page__2_section__image--contact {
        margin-left: -20px;
        width: 420px;
    }

    .content_page__2_section__contact {
        left: 0;
        right: 0;
        margin: auto;
    }

    .content_page__2_section__info.content_page__2_section__info--contact {
        width: calc(100% - 400px);
        padding-left: 50px;
    }
}

@media screen and (max-width: 900px) {
    .content_page__2_section__image.content_page__2_section__image--contact {
        width: calc(100% + 40px);
        min-height: auto;
    }

    .content_page__2_section__contact {
        position: static;
        width: 100%;
    }

    .content_page__2_section__info.content_page__2_section__info--contact {
        width: 100%;
        padding: 30px 0px;
    }

    .content_page__2_section__map {
        height: 350px;
    }

    .content_page__2_section__contact_form {
        max-width: 600px;
    }
}

@media screen and (max-width: 550px) {
    .field_row {
        flex-direction: column;
        margin-bottom: 20px;
    }

    input.btn_form_x {
        width: 100%;
        max-width: 430px;
    }
}