.modal__menu {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
    opacity: 0;
    pointer-events: none;
    transform: translate(-100%,0);
    max-width: 100%;
    width: 100%;
    background: #232121;
    color: #fff;
    overflow: scroll;

    &.active{
        opacity: 1;
        z-index: 6;
        pointer-events: all;
        transform: translate(0%,0);
    }
}


.modal__menu::-webkit-scrollbar {
    display: none;
  }

  .modal__menu {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
.loaded .modal__menu{ transition: 0.25s ease-in-out;}



.modal__menu__top__logo {
    width: 200px;
    display: block;
    font-size: 0;
}

.modal__menu__btn_close {
    position: absolute;
    right: 10px;
    top: 20px;
    width: 36px;
    height: 36px;
    background: transparent;
    border: none;
}

.modal__menu__btn_close:before,.modal__menu__btn_close:after {
    content: '';
    position: absolute;
    left: 0;
    width: 80%;
    height: 1px;
    background: #fff;
    transform: rotate(45deg);
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: 0.25s;
}

.modal__menu__btn_close:after {
    transform: rotate(-45deg);
}

.modal__menu__inner {
    padding: 20px 20px 40px;
    max-width: 380px;
    margin: 0 auto;
}

.modal__menu__top {
    margin-bottom: 37px;
}

.modal__menu__list a {
    color: inherit;
    font-size: 15px;
    text-decoration: none;
    text-transform: capitalize;
}

.modal__menu__list {
    list-style: none;
}

.modal__menu__list li {
    margin-bottom: 17px;
}

.modal__menu__list li:last-child {
    margin-bottom: 0;
}

.modal__menu__nav {
    margin-bottom: 40px;
}

.modal__menu__list a:hover {
    color: #d52b3f;
}

.modal__menu__btn_close:hover:before,.modal__menu__btn_close:hover:after {
    background: #d52b3f;
}

.header__btn__mobile {
    width: 100%;
    max-width: 300px;
    margin-bottom: 30px;
}

.modal__menu__inner .header_phones__inner {
    margin: 0;
    justify-content: flex-start;
}

ul.submenu__mobile {
    list-style: none;
    padding: 20px 0 0 20px;
}

ul.submenu__mobile a {
    display: inline-flex;
    align-items: center;
    gap: 15px;
}

ul.submenu__mobile a img {
    filter: brightness(0) invert(1);
}