.content_page__2_section {
    position: relative;
}

.content_page__2_section__image {
    width: calc(410px + calc((100vw - 1220px) / 2));
    margin-left: calc(-1 * (100vw - 1220px) / 2);
    position: relative;
    min-height: 752px;
}

.content_page__2_section .container {
    display: flex;
    flex-wrap: wrap;
}

.content_page__2_section__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.content_page__2_section__info {
    width: calc(100% - 410px);
    padding: 51px 0px;
    padding-left: 118px;
}

.content_page__2_section__info__inner {
    margin: 0 auto;
    color: #404040;
}

.default_text>* {
    line-height: 1.48;
    margin-bottom: 25px;
}

.btn_in_text {
    width: 185px;
    margin-top: -4px;
}


@media screen and (max-width: 1260px) {
    .content_page__2_section__image {
        margin-left: -20px;
        width: calc(410px + 20px);
    }

    .content_page__2_section__info {
        padding-left: 50px;
        max-width: 650px;
        padding-right: 50px;
    }
}

@media screen and (max-width: 900px) {
    .content_page__2_section__image {
        width: calc(100% + 40px);
        margin: 0 -20px;
        min-height: 200px;
    }

    .content_page__2_section__info {
        width: 100%;
        max-width: 100%;
        padding: 44px 0;
    }

    .title_x {
        font-size: 40px;
    }
}

@media screen and (max-width: 550px) {
    .default_text {
        font-size: 15px;
    }

    .default_text>* {
        line-height: 1.65;
    }

    .title_x {
        font-size: 30px;
        font-weight: 600;
    }

    .content_page__2_section__info {
        padding: 35px 0;
    }
}