.content_reserve__step_item_n {
    border: 1px solid #232121;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.2;
    /* identical to box height */
    text-align: center;
    text-transform: uppercase;
    color: #232121;
    margin-right: 8px;
}

.content_reserve__step_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-left: -20px;
    position: relative;
    margin-bottom: 60px;
}

.content_reserve__step_item {
    display: inline-flex;
    align-items: center;
    padding: 0 20px;
    background: #fff;
    position: relative;
    z-index: 1;
}

.content_reserve {
    margin-top: -13px;
}

.content_reserve__step_item.active .content_reserve__step_item_n {
    background: #FFCD00;
    color: #fff;
    border-color: #FFCD00;
}

.content_reserve__step_item.active .content_reserve__step_item_title {
    font-weight: 600;
}

.content_reserve__step_list:before {
    content: '';
    width: 100%;
    position: absolute;
    top: 50%;
    height: 1px;
    background: #ccc;
}

.content_reserve__step_x__title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.5;
    /* identical to box height */
    margin-bottom: 31px;
}

.field_reserve_wrap.field_reserve_wrap--1 {
    max-width: 804px;
}

.field_row__pos-r {
    position: relative;
}

.field_item.field_item--reserve--zip {
    position: absolute;
    left: calc(100% + 20px);
    width: 83px;
}

.field_item--big {
    min-width: 392px;
}

.field_item_x .select2-container {
    width: 100% !important;
}


.select2-container .select2-selection--single {
    border-color: #000;
    height: auto;
    padding: 9px 14px;
    height: 47px;
    border-radius: 2px;
    background: #f0f0ef;
    border-color: transparent;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    display: none;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    background-image: url("data:image/svg+xml,%3Csvg width='14' height='8' viewBox='0 0 14 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1 1L7 7L13 1' stroke='%237B7575' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: 50%;
    height: 100%;
    width: 62px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    display: none;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    padding: 0 30px 0 0;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background: #ffcd00;
    color: #000;
}

.select2-dropdown {
    border: 1px solid;
    border-radius: 0;
}

.select2-container--default .select2-results__option--selected {
    background: #000;
    color: #fff;
}

.select2-results__option {
    font-size: 14px;
    padding: 6px 15px;
}

.btn_r {
    background: #232121;
    box-shadow: 2px 6px 28px rgba(123, 117, 117, 0.16);
    border-radius: 2px;
    display: inline-flex;
    font-weight: 500;
    color: #fff;
    width: 290px;
    justify-content: center;
    padding: 13px;
}

.content_reserve__content {
    margin-bottom: 150px;
}

.btn_r:hover {
    color: #FFCD00;
    background: #000;
}

.content_reserve__step_x__thank__title {
    font-weight: 700;
    font-size: 32px;
    line-height: 1.5;
    text-align: center;
    margin-bottom: 15px;
}

.content_reserve__step_x__thank {
    text-align: center;
    padding: 30px 0;
}

.content_reserve__step_x__thank__icon {
    font-size: 0;
    margin-bottom: 15px;
}

.content_reserve__step_x__thank__text {
    margin-bottom: 15px;
}

.btn_step_x__thank__more {
    width: 180px;
}

.content_reserve__step_x {
    display: none;
}

.content_reserve__step_x.active {
    display: block;
}

.field_reserve_btns {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.btn_r_back {
    width: 183px;
    justify-content: center;
    display: inline-flex;
    align-items: center;
    gap: 14px;
}

.btn_r_back path {
    transition: 0.25s;
}

.btn_r_back svg {
    transition: 0.25s;
}

.btn_r_back:hover svg {
    transform: translate(-3px, 0px);
}

.btn_r_back:hover path {
    fill: #d52b3f;
}

.btn_r_back:hover {
    color: #d52b3f;
}

.field_item.field_item--billing_card_number {
    width: 390px;
    flex: none;
}

.field_item.field_item--billing_card_exp_date {
    width: 180px;
    flex: none;
}

.field_item.field_item--billing_card_cvv {
    width: 85px;
    flex: none;
}

.field_item__radio label {
    display: inline-flex;
    align-items: center;
}

.field_item__radio input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.field_item__radio__text {
    margin-left: 12px;
    width: calc(100% - 32px);
}

.field_item__radio__view {
    border: 1px solid #232121;
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.field_item__radio input:checked+.field_item__radio__view {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='10' cy='10' r='10' fill='%23FFCD00'/%3E%3Cpath d='M16.6667 5L7.50004 14.1667L3.33337 10' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    border-color: transparent;
}

.btn_field_reserve_btn--last {
    width: 185px;
}

.content_reserve__step_x__4_text {
    line-height: 1.6;
    margin-bottom: 25px;
}

.field_item__checkbox label {
    display: inline-flex;
    align-items: center;
}

.field_item__checkbox input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    visibility: hidden;
}

.field_item__checkbox a {
    font-weight: 600;
    color: #38506A;
    text-decoration: none;
}

.field_item__checkbox a:hover {
    color: inherit;
}

.field_item__checkbox__view {
    border: 1px solid #232121;
    border-radius: 1px;
    margin-right: 15px;
    width: 20px;
    height: 20px;
}

.field_item__checkbox__text {
    width: calc(100% - 35px);
}

.field_item__checkbox input:checked+.field_item__checkbox__view {
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='20' height='20' rx='1' fill='%23FFCD00'/%3E%3Cpath d='M16.6667 5L7.50004 14.1667L3.33337 10' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-size: cover;
    background-position: 50%;
    border: none;
}

input.warning,
textarea.warning {
    border-color: #ed2323;
    box-shadow: 0 0 0 1px #ed2323;
}

input.warning+.field_item__checkbox__view {
    border-color: #ed2323;
    box-shadow: 0 0 0 0.5px #ed2323;
}

input.warning~.field_item__checkbox__text {
    color: #ed2323;

}


.field_item--2-4 {
    flex: none;
    width: calc(100% / 2 - 20px);
    margin: 0 10px;
}

.field_item--1-4 {
    width: calc(100% / 4 - 20px);
    flex: none;
    margin: 0 10px;
}

.field_item--3-6 {
    width: calc(100% / 6 * 3 - 20px);
    flex: none;
    margin: 0 10px;
}

.field_item--1-6 {
    width: calc(100% / 6 - 20px);
    flex: none;
    margin: 0 10px;
}

.field_item--2-6 {
    width: calc(100% / 6 * 2 - 20px);
    flex: none;
    margin: 0 10px;
}

.field_row.field_row--size_percent {
    margin: 0 -10px 30px;
    gap: 30px 0;
}


.field_row--reserve_y_col {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.field_row--reserve_y__check_title {
    font-weight: 700;
    font-size: 18px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #232121;
}

.field_row--reserve_y__check_wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}

.field_item__checkbox {
    display: flex;
}

.field_row--reserve_y__radio__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.field_row--reserve_y__radio_content_item {
    display: none;
}

.field_row--reserve_y__radio_content_item.active {
    display: block;
}

@media screen and (max-width: 1100px) {
    .content_reserve__step_item_n {
        width: 36px;
        height: 36px;
        font-size: 20px;
        margin-right: 12px;
    }

    .content_reserve__step_item_title {
        font-size: 12px;
        max-width: 100px;
        line-height: 1.3;
    }

    .content_reserve__step_item:last-child {
        padding-right: 0;
    }

    .content_reserve__step_item {
        padding: 0 15px;
    }

    .content_reserve__step_list {
        margin-left: -15px;
    }
}

@media screen and (max-width: 1000px) {
    .field_item.field_item--reserve--zip {
        position: static;
    }

    .field_item--big {
        flex: 2;
        min-width: 0;
    }
}


@media screen and (max-width: 900px) {
    .field_row--reserve_y_col {
        flex: none;
        width: 100%;
    }
    .field_item--1-6 {
        flex-basis: calc(100% / 2 - 20px);
        flex-grow: 1;
        margin: 0;
    }

    .field_item--3-6 {
        flex: 1;
        flex-basis: 50%;
        margin: 0;
    }

    .field_reserve_wrap--2 {
        max-width: 600px;
    }

    .field_item--1-4 {
        flex: 1 0 calc(50% - 10px);
        margin: 0;
    }

    .field_row.field_row--size_percent {
        margin: 0 0 30px;
        gap: 30px 20px;
    }

    .field_item--2-4 {
        flex: 1 0 calc(50% - 10px);
        margin: 0;
    }

    .field_item--2-6 {
        flex: 1 0 calc(50% - 10px);
        margin: 0;
        width: auto;
    }
}


@media screen and (max-width: 750px) {
    .field_item.field_item--billing_card_number {
        width: 250px;
    }

    .field_item.field_item--billing_card_exp_date {
        width: 135px;
    }

    .field_item.field_item--billing_card_cvv {
        width: 80px;
    }

    .content_reserve__step_item {
        width: calc(50% - 10px);
        margin: 0;
        padding: 0 10px;
    }

    .content_reserve__step_list {
        margin: 0 -15px;
        margin-bottom: 35px;
    }

    .content_reserve__step_list:before {
        display: none;
    }

    .content_reserve {
        margin-top: -5px;
    }

    .field_row.field_row__step_x_1--2>* {
        flex-basis: 47%;
        flex-grow: 1;
    }

    .field_row.field_row__step_x_1--3>* {
        flex-basis: 47%;
        flex-grow: 1;
    }
}

@media screen and (max-width: 550px) {

    .content_reserve__step_x__thank__title {
        font-size: 26px;
        line-height: 1.35;
    }

    .field_row.field_row__step_x_1--2 {
        flex-direction: revert;
    }

    .content_reserve__content {
        margin-bottom: 75px;
    }

    .field_row.field_row--paycard {
        flex-direction: row;
        margin-bottom: 32px;
    }

    .field_item.field_item--billing_card_number {
        width: 100%;
    }

    .field_item.field_item--billing_card_exp_date {
        width: calc(65% - 20px);
    }

    .field_item.field_item--billing_card_cvv {
        width: 35%;
    }

    .field_reserve_btns {
        flex-direction: column;
        align-items: flex-start;
        max-width: 400px;
        gap: 15px;
    }

    .btn_r_back {
        border: 1px solid;
        padding: 12px;
        width: 100%;
    }

    .btn_field_reserve_btn {
        width: 100%;
    }

    .btn_field_reserve_btn--last {
        width: 100%;
    }

    .field_item--1-4 {
        width: auto;
    }

    .field_row.field_row--size_percent {
        flex-direction: row;
    }

.field_row--reserve_y__check_wrap {
    flex-direction: column;
    align-items: flex-start;
}
}