.main_footer {
    position: relative;
}

.main_footer {
    background: #0E3A48;
    color: #fff;
    padding: 42px 0 58px;
    overflow: hidden;
}

.main_footer__logo {
    width: 229px;
    display: block;
    font-size: 0;
    margin-bottom: 39px;
}

.main_footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.main_footer__col_1 {
    width: 50%;
}

.main_footer__col_2 {
    width: 50%;
    display: flex;
    max-width: 395px;
    flex-direction: column;
    position: relative;
}

.main_footer__subscribe__title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.35;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-bottom: 4px;
}

.main_footer__subscribe__text {
    font-size: 14px;
    line-height: 1.45;
    margin-bottom: 10px;
    opacity: 0.6;
}

.main_footer__subscribe__form form {
    display: flex;
}

.main_footer__subscribe__form input[type='email'] {
    flex: 1;
    padding: 0 18px;
    border: none;
    appearance: none;
    border-radius: 0;
}

.main_footer__subscribe__form input[type='submit'] {
    width: 106px;
    border-radius: 0;
}

.main_footer__subscribe__form {
    margin-bottom: 10px;
}

.main_footer__subscribe__addtext {
    opacity: 0.6;
    font-size: 12px;
}

.main_footer__develop {
    position: absolute;
    bottom: -64px;
    right: 4px;
}

.main_footer__contact__item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.main_footer__contact__item a {
    color: inherit;
    text-decoration: none;
    font-size: 14px;
    margin-right: 5px;
}

.main_footer__contact__item svg {
    margin-right: 11px;
}

.main_footer__contact {
    margin-bottom: 20px;
}

.main_footer__term a {
    font-size: 14px;
    color: inherit;
    text-decoration: none;
}

.main_footer__term {
    margin-bottom: 20px;
}

.main_footer__copyright {
    font-size: 12px;
    opacity: 0.6;
}

.main_footer__contact__item__inner a:hover {
    color: #d52b3f;
}

.main_footer__term a:hover {
    color: #d52b3f;
}

.main_footer__develop {
    font-size: 12px;
    color: inherit;
    text-decoration: none;
}

.main_footer__develop:hover {
    color: #d52b3f;
}

.main_footer__develop__x {
    display: inline-block;
    background: #d52b3f;
    padding: 10px 3.5px 20px;
    color: #fff;
    margin: 0 -1px;
    transform: translate(0px, -2px);
}

@media screen and (max-width: 750px) {
    .main_footer__col_1 {
        width: 100%;
        margin-bottom: 50px;
    }

    .main_footer__col_2 {
        width: 100%;
    }

    .main_footer__subscribe__form input[type=email] {
        width: calc(100% - 106px);
    }

    .main_footer__subscribe__form {
        margin: 15px 0;
    }
}
