.header_main {
    position: relative;
    padding: 20px 0;
}

.header_btn_menu {
    display: none;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    position: relative;
    background: transparent;
    border: none;
    appearance: none;
    border-radius: 0;
    margin-right: 0px;


    span {
        background: $black;
        width: 90%;
        height: 2px;
        position: absolute;
        border-radius: 5px;
        margin: auto;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        transition: 0.5s;

        &:nth-child(1) {
            transform: translate(0, -9px);
        }

        &:nth-child(2) {
            transform: translate(0, 0);

        }

        &:nth-child(3) {
            transform: translate(0, 9px);
        }
    }

    &.active {
        span {
            &:nth-child(1) {
                transform: translate(0, 0) rotate(45deg);
            }

            &:nth-child(2) {
                opacity: 0;

            }

            &:nth-child(3) {
                transform: translate(0, 0) rotate(-45deg);
            }
        }

    }
}


.header_phones {
    background: #232121;
    color: #fff;
    padding: 18px 0 19px;
}

.header_phones__inner {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
}

.header_phones__inner a {
    color: inherit;
    text-decoration: none;
    margin: 0 25px;
    font-size: 16px;
}

.header_phones__inner svg {
    margin-right: -5px;
}

.header_phones__inner a:hover {
    color: #D52B3F;
}

.header__logo {
    width: 230px;
    display: block;
    font-size: 0;
}

.header_main .container {
    display: flex;
    align-items: center;
}

.header__menu {
    flex: 1;
    justify-content: center;
    display: flex;
    padding: 13px 90px 0 45px;
}

.header__menu ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header__menu a {
    color: inherit;
    text-decoration: none;
}

.header__menu li {
    margin: 0 20px;
}

.btn_x {
    padding: 16px 20px;
    color: #fff;
    background: #D52B3F;
    box-shadow: 2px 6px 28px rgba(123, 117, 117, 0.16);
    border-radius: 2px;
    line-height: 1;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.header__btn {
    width: 188px;
}

.header__menu a:hover {
    color: #d52b3f;
}


.btn_x:hover {
    background: #af1a2c;
}

.has_submenu {
    position: relative;
}
.loaded ul.submenu{  transition: 0.25s;}
ul.submenu {
    position: absolute;
    flex-direction: column;
    z-index: 2;
    background: #F5F4EF;
    min-width: 186px;
    text-align: left;
    align-items: flex-start;
    top: calc(100% + 10px);
    left: 0;

    opacity: 0;
    transform: translate(0,-10px);
    visibility: hidden;
    pointer-events: none;
}

ul.submenu a {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: flex-start;
    width: 100%;
    padding: 12px 15px;
    line-height: 1;
}

ul.submenu li {
    margin: 0;
    width: 100%;
}

ul.submenu:before {
    content: '';
    position: absolute;
    left: 0;
    top: -10px;
    width: 100%;
    height: 10px;
    background: transparent;
}

.has_submenu:hover ul.submenu {
    opacity: 1;
    visibility: visible;
    transform: translate(0,0);
    pointer-events: all;
}

ul.submenu a:hover {
    background: #fff;
    color: inherit;
    font-weight: 600;
}

ul.submenu a:hover img {
    filter: brightness(0);
    opacity: 0.8;
}

ul.submenu a img {
    transition: 0.25s;
}

.header_main--home .header_btn_menu span {
    background: #fff;
}

@media screen and (max-width: 1200px) {
    .header__menu {
        padding: 8px 15px 0;
    }

    .header__menu li {
        margin: 0 17px;
    }

    .header__logo {
        width: 210px;
    }

    .header__btn {
        width: 170px;
        font-size: 14px;
        padding: 14px 20px;
    }

    .header_phones__inner a {
        font-size: 15px;
    }
}

@media screen and (max-width: 1000px) {
    .header__menu {
        display: none;
    }

    .header__info {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .header_btn_menu {
        display: flex;
        margin-left: 22px;
    }
}

@media screen and (max-width: 550px) {
    .header__btn {
        display: none;
    }

    .header_main {
        padding: 20px 0 30px;
    }

    .header__logo {
        width: 185px;
    }

    .header_phones__inner a {
        font-size: 14px;
        margin: 0 20px;
    }

    .header_phones__inner svg {
        width: 18px;
        height: auto;
        margin-right: 0;
    }

    .header_phones {
        padding: 15px 0;
    }
}