html {
    box-sizing: border-box;
    text-size-adjust: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
}

html * {
    max-height: 1000000px;
}


*,
*:before,
*:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}


a[href^="http"]:empty::before {
    content: attr(href);
}

img,
video,
audio {
    max-width: 100%;
    height: auto;
}

label,
button,
select {
    cursor: pointer;
}

label[for] {
    cursor: pointer;
}

a:focus,
button:focus,
input:focus,
textarea:focus,
.slick-slide:focus {
    outline: none
}

a,
button {
    cursor: pointer
}




body {
    font-size: 16px;
    font-family: $font;
    line-height: 1.4;
    color: $textColor;
}


.loaded a {
    transition: 0.25s
}

.loaded .btn_default {
    transition: 0.25s
}


.btn_default {
    appearance: none;
    border-radius: 0;
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}


.main__content {
    padding: 32px 0;
}

.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1260px;
}


.title_x {
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
    margin: 0 0 20px;
    line-height: 1.25;
}



.form__field {
    position: relative;
    margin-bottom: 16px;

    &--btn {
        margin-bottom: 0;

        button {
            width: 100%;
            justify-content: center;
        }
    }

    input {
        width: 100%;
        padding: 14px 20px;
        line-height: 1;
        border: 1px solid rgba($black, 0.3);
        border-radius: 4px;
        -webkit-appearance: none;
    }

    textarea {
        width: 100%;
        padding: 14px 20px;
        line-height: 1.5;
        border: 1px solid rgba($black, 0.3);
        border-radius: 4px;
        resize: vertical;
        min-height: 100px;
        -webkit-appearance: none;
        background: #f0f0ef;
        border: 1px solid #f0f0ef;
        border-radius: 2px;
    }
}


.page__wrap {
    overflow: hidden;
}
.field_item input[type="date"],
.field_item input[type="time"]{
    -webkit-appearance: none;
    appearance: none;
    min-height: 48px;
}