
.home_page__service {
    display: flex;
}

.home_page_service__item {
    flex: 1;
    position: relative;
}

.home_page_service__item__info {
    position: absolute;
    top: calc(50% + 33px);
    transform: translate(0, -50%);
    z-index: 2;
    text-align: center;
    margin: auto;
    right: 0;
    left: 0;
    padding: 20px;
    transition: 0.25s;
}

.home_page_service__item__inner {
    font-size: 0;
}

.home_page_service__item__inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.home_page_service__item__inner {
    padding-top: 142.25%;
    position: relative;
}

.home_page_service__item__title {
    font-weight: 700;
    font-size: 48px;
    color: #fff;
    margin-bottom: 18px;
}

.home_page_service__item__more {
    opacity: 0;
    pointer-events: none;
    width: 100%;
    max-width: 190px;
}

.home_page_service__item:hover .home_page_service__item__info {
    top: calc(50% - 4px);
}

.home_page_service__item:hover .home_page_service__item__more {
    opacity: 1;
    pointer-events: all;
}

.home_page__about {
    background: #F5F4EF;
    padding: 110px 0 120px;
}

.home_page__about__title {
    font-weight: 700;
    font-size: 48px;
    line-height: 118%;
    /* identical to box height, or 57px */
    text-transform: uppercase;
    color: #2B435F;
    margin-bottom: 20px;
}

.home_page__about__text {
    color: #404040;
    margin-bottom: 30px;
    line-height: 1.55;
}

.home_page__about__info {
    max-width: 600px;
    margin: 0 auto;
}

.home_page__about__more {
    display: inline-flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}

.home_page__about__more svg {
    transition: 0.25s;
}

.home_page__about__more:hover path {
    fill: #d52b3f;
}

.home_page__about__more:hover {
    color: #d52b3f;
}

.home_page__about__more:hover svg {
    transform: translate(10px, 0);
}

.home_page__type__tab__item {
    background: #FFFFFF;
    border-left: 1px solid #243549;
    display: inline-flex;
    flex-direction: column;
    color: inherit;
    text-decoration: none;
    flex: 1;
    border-bottom: 6px solid #FFCD00;
    padding: 30px 22px;
    border-bottom-color: transparent;
}

.home_page__type__tab__item:first-child {
    border-left: 0;
}

.home_page__type__tab__item__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 113%;
    color: #28364A;
}

.home_page__type__tab {
    display: flex;
}

.home_page__type__tab__item__sub_text {
    font-size: 16px;
    line-height: 1.5;
    text-transform: capitalize;
    color: #7B7575;
}

.home_page__type__tab__item.active {
    border-color: #FFCD00;
}

.home_page__type_content {
    background: #232121;
    color: #fff;
    padding-top: 82px;
    padding-bottom: 120px;
}

.home_page__type_top {
    margin-bottom: -55px;
}

.home_page__type__tab__item:hover {
    background: #FFCD00;
}

.home_page__type_content__item__title {
    font-weight: 700;
    font-size: 48px;
    margin-bottom: 20px;
}

.home_page__type_content__item__list li:before {
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 11.08V12C21.9988 14.1564 21.3005 16.2547 20.0093 17.9818C18.7182 19.709 16.9033 20.9725 14.8354 21.5839C12.7674 22.1953 10.5573 22.1219 8.53447 21.3746C6.51168 20.6273 4.78465 19.2461 3.61096 17.4371C2.43727 15.628 1.87979 13.4881 2.02168 11.3363C2.16356 9.18457 2.99721 7.13633 4.39828 5.49707C5.79935 3.85782 7.69279 2.71538 9.79619 2.24015C11.8996 1.76491 14.1003 1.98234 16.07 2.86' stroke='%23FFCD00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M22 4L12 14.01L9 11.01' stroke='%23FFCD00' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 24px;
    height: 24px;
    background-size: contain;
    background-repeat: no-repeat;
}

.home_page__type_content__item__list li {
    position: relative;
}

.home_page__type_content__item__list ul {
    gap: 12px 37px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.home_page__type_content__item__list li {
    padding-left: 36px;
    min-width: 193px;
}

.home_page__type_content__item__info {
    width: 580px;
    margin-right: 20px;
}

.home_page__type_content__item__list {
    margin-bottom: 20px;
}

.btn_type_content {
    width: 100%;
    max-width: 188px;
}

.home_page__type_content__item__inner {
    display: flex;
    flex-wrap: wrap;
}

.home_page__type_content__item__slider {
    width: calc(100% - 600px);
}
button.slick-prev {
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='16' viewBox='0 0 23 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.645432 7.29289C0.254908 7.68342 0.254908 8.31658 0.645432 8.70711L7.00939 15.0711C7.39992 15.4616 8.03308 15.4616 8.42361 15.0711C8.81413 14.6805 8.81413 14.0474 8.42361 13.6569L2.76675 8L8.42361 2.34315C8.81413 1.95262 8.81413 1.31946 8.42361 0.928932C8.03308 0.538408 7.39992 0.538408 7.00939 0.928932L0.645432 7.29289ZM21.3525 9C21.9048 9 22.3525 8.55228 22.3525 8C22.3525 7.44772 21.9048 7 21.3525 7V9ZM1.35254 9H21.3525V7H1.35254V9Z' fill='%232B435F'/%3E%3C/svg%3E%0A");
    left: 40px;
}

.slick-arrow {
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 2px;
    font-size: 0;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    border: none;
    background-repeat: no-repeat;
    background-position: 50%;
    transition: 0.25s;
    z-index: 1;
}

.slick-arrow:hover {
    background-color: #ffcd00;
}

button.slick-next {
    right: 40px;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='16' viewBox='0 0 23 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.3546 7.29289C22.7451 7.68342 22.7451 8.31658 22.3546 8.70711L15.9906 15.0711C15.6001 15.4616 14.9669 15.4616 14.5764 15.0711C14.1859 14.6805 14.1859 14.0474 14.5764 13.6569L20.2332 8L14.5764 2.34315C14.1859 1.95262 14.1859 1.31946 14.5764 0.928932C14.9669 0.538408 15.6001 0.538408 15.9906 0.928932L22.3546 7.29289ZM1.64746 9C1.09518 9 0.647461 8.55228 0.647461 8C0.647461 7.44772 1.09518 7 1.64746 7V9ZM21.6475 9H1.64746V7H21.6475V9Z' fill='%232B435F'/%3E%3C/svg%3E%0A");
}

.slick-dots {
    position: absolute;
    bottom: 40px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    display: flex;
    list-style: none;
    justify-content: center;
}

.slick-dots button {
    background: rgba(255, 205, 0, 0.4);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    font-size: 0;
    border: none;
    transition: 0.25s;
}

.slick-dots li {
    margin: 0 5px;
}

.slick-dots .slick-active button {
    background: #FFCD00;
}

.slick-dots button:hover {
    background: rgba(255, 205, 0, 0.7);
}


.header_main--home {
    background: rgba(35, 33, 33, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    color: #fff;
    z-index: 1;
}

.header_main--home ul.submenu a {
    color: #232121;
}

.home_promo__image {
    font-size: 0;
    margin-top: -60px;
    height: 570px;
}
.home_promo__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.page_home .header_phones {
    position: relative;
    z-index: 1;
}

.home_get_quote__inner {
    padding: 0;
    background: #FFFFFF;
    box-shadow: 2px 6px 28px rgba(123, 117, 117, 0.16);
    border-radius: 4px;
}


.home_promo {
    position: relative;
    background: #f5f4ef;
}

.home_get_quote {
    position: relative;
    margin-top: -203px;
}

.home_get_quote__top {
    background: #232121;
    color: #fff;
    text-align: center;
    padding: 33px 20px;
    border-radius: 3px 3px 0 0;
}

.home_get_quote__form {
    padding: 22px 45px;
}

.home_get_quote__title {
    font-weight: 600;
    font-size: 28px;
    line-height: 1.2;
    text-transform: capitalize;
}

.home_get_quote__form .field_item input {
    background: #F0F0EF;
    border: 1px solid #F0F0EF;
    border-radius: 2px;
}



.home_get_quote__form input.btn_form_u {
    padding: 17px;
    width: 267px;
    margin-top: -5px;
    border-radius: 4px;
    background: #d52b3f;
}

.home_get_quote__form input.btn_form_u:hover {
    background: #af1a2c;
}


.home_get_quote__form .select2-container .select2-selection--single {
    border-radius: 2px;
    background: #f0f0ef;
    border-color: transparent;
}

.select2-container--default.select2-container--open .select2-selection--single {
    border-color: #000;
    border-radius:0px
}

.home_type__item__slider.active {
    display: block;
    opacity: 1;
}

.home_type__item__slider {
    display: none;
}


.home_page__type_content__item.slick-current.slick-active {
    opacity: 1;
}

.home_page__type_content__item {
    opacity: 0;
    transition: 0.25s linear;
}


.home_type__item__slider .slick-arrow {
    top: calc(100% + 50px);
    width: 100px;
}

.home_type__item__slider .slick-next {
    left: calc(50% + 5px);
}

.home_type__item__slider .slick-prev {
    right: calc(50% + 5px);
    left: auto;
}



@media screen and (max-width: 1260px) {
    .home_page_service__item__title {
        font-size: 28px;
    }

    .home_page_service__item__more {
        opacity: 1;
        pointer-events: all;
        max-width: 150px;
        padding: 12px;
    }

    .home_page_service__item__info {
        top: 50%;
    }
}

@media screen and (max-width: 1000px) {

.home_get_quote__form .field_item {
    flex-basis: 47%;
}

.home_get_quote__inner {
    max-width: 1000px;
    margin: 0 auto;
}
    .home_page__type_content__item__inner {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 15px;
    }

    .home_page__type_content__item__info {
        width: 100%;
        max-width: 600px;
        margin: 0 auto 50px;
    }

    .home_page__type_content__item__slider {
        width: 100%;
        max-width: 600px;
        margin: 0 auto;
    }

    .home_page__type_content__item__list {
        max-width: 600px;
    }

    .home_page__type__tab {
        flex-wrap: wrap;
    }

    .home_page__type__tab__item {
        padding: 20px;
        flex: none;
        width: calc(100% / 3);
        border-bottom-color: #243549;
    }

    .home_page__type__tab__item__sub_text {
        font-size: 13px;
    }

    .home_page__type__tab__item__title {
        font-size: 23px;
    }

    .home_page__type_content {
        padding-top: 100px;
        padding-bottom: 105px;
    }
}

@media screen and (max-width: 900px) {
    .home_page_service__item {
        flex: none;
        width: 50%;
    }

    .home_page_service__item__inner {
        padding-top: 65%;
    }

    .home_page__service {
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 700px) {
    .home_page__about__title {
        font-size: 34px;
    }

    .home_page__about {
        padding: 75px 0;
    }

    .home_page__about__text {
        font-size: 15px;
    }

    .home_page_service__item__inner {
        padding: 0;
        height: 210px;
    }

    .home_page_service__item__title {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 12px;
    }

    .home_page_service__item__more {
        font-size: 11px;
        max-width: 110px;
        padding: 9px;
    }

    .home_page__type__tab.js_home_page__type__tab {
        display: block;
        overflow: scroll;
        white-space: nowrap;
        margin: 0 -20px;
        padding: 0;
        font-size: 0;
    }

    .home_page__type__tab__item {
        display: inline-flex;
        width: auto;
        padding: 16px 25px;
        min-width: 150px;
    }

    .home_page__type_content__item__title {
        font-size: 30px;
    }

    .home_page__type_content__item__list ul {
        flex-direction: column;
        gap: 23px 0;
    }

    .home_page__type_content__item__list {
        margin-bottom: 30px;
        font-size: 14px;
    }

    .home_page__type_content__item__inner {
        padding: 0;
    }

    .home_page__type_content__item__list li:before {
        top: -3px;
    }


    .home_page__type .slick-dots {
        bottom: 12px;
    }

    .home_page__type_content__item__info {
        margin-bottom: 40px;
    }

}

@media screen and (max-width: 550px) {
    .home_page__about {
        padding: 50px 0 65px;
    }
    .home_page__type__tab__item__sub_text {
        font-size: 12px;
    }

    .home_page__type__tab__item__title {
        font-size: 20px;
        margin-top: 0px;
    }

.home_get_quote__title {
    font-size: 22px;
}

.home_promo__image {
    height: 550px;
}

.home_get_quote {
    margin-top: -250px;
}

.home_get_quote__form .field_item {
    flex-basis: 100%;
}

.home_get_quote__form {
    padding: 25px  25px;
}

.home_page__about {
    padding: 50px 0 65px;
}

.home_get_quote__form input.btn_form_u {
    width: 100%;
    margin-top: 0;
}
}