.content_term__top {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    background-image: url('../images/__content/pages/term/bg.jpg');
    color: #fff;
    text-align: center;
    padding: 45px 20px;
    margin: 0 calc(-1 * ((100vw - 1220px) / 2));
    margin-bottom: 80px;
}
.content_term__top .title_x{margin-bottom: 0;}

.content_term__text>* {
    line-height: 1.65;
}

.content_term__text {
    max-width: 1100px;
    margin: 0 auto;
    color: #605C5C;
    padding-bottom: 100px;
}

.content_term__text h2 {
    color: #232121;
    font-size: 22px;
}

.default_text ul,
.default_text ol {
    padding-left: 40px;
}

.default_text li {
    margin-bottom: 12px;
}

.default_text li:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1260px) {
    .content_term__top {
        margin-left: -20px;
        padding: 40px 20px;
        width: calc(100% + 40px);
        margin-bottom: 35px;
    }
}

@media screen and (max-width: 550px) {
    .content_term__text h2 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 18px;
        line-height: 1.35;
    }

    .content_term__text {
        font-size: 12px;
        padding-bottom: 50px;
    }

    .content_term__text>* {
        line-height: 1.75;
        margin-bottom: 24px;
    }

    .default_text ol,
    .default_text ul {
        padding-left: 15px;
    }
}