.faq_item__title {
    font-weight: 600;
    font-size: 16px;
    text-transform: capitalize;
    color: #232121;
    max-width: 580px;
    line-height: 1.45;
    transition: 0.25s;
}

.faq_list {
    margin-top: 29px;
}

.faq_item__top {
    padding-right: 30px;
    position: relative;
    cursor: pointer;
}

.faq_item__btn {
    position: absolute;
    right: -4px;
    bottom: 50%;
    width: 16px;
    height: 16px;
    transform: translate(0,50%);
}

.faq_item__btn:before,.faq_item__btn:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    margin: auto;
    background:  #232121;
    transition: 0.25s;
}

.faq_item__btn:after {
    height: 100%;
    width: 2px;
}

.faq_item__content {
    display: none;
    padding-top: 10px;
    line-height: 1.5;
    font-size: 14px;
}

.faq_item {
    margin-bottom: 41.15px;
}

.faq_item.active .faq_item__title {
    color: #D52B3F;
}

.active .faq_item__btn:before {
    background: #D52B3F;
}

.active .faq_item__btn:after {
    opacity: 0;
}

.faq_item.active .faq_item__content {
    display: block;
}

.faq_item__content p {
    margin-bottom: 20px;
}

.faq_item__content p:last-child {
    margin-bottom: 0;
}

.content_page__2_section__image__text {
    position: relative;
    top: 0;
    z-index: 2;
    color: #fff;
    max-width: 410px;
    right: 0;
    padding-right: 0;
    padding-top: 52px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.5;
    margin-left: calc( (100vw - 1215px)/ 2);
    padding-right: 115px;
}

.content_page__2_section__image__text p {
    margin-bottom: 20px;
}

.btn_y {
    padding: 12px;
    display: inline-flex;
    border: 2px solid;
    width: 100%;
}

.content_page__2_section__image__text .btn_y {
    max-width: 185px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    padding: 10px;
}

.content_page__2_section__image__text p:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1260px) {
    .content_page__2_section__image__text {
        margin: 0 0 0 20px;
    }
}

@media screen and (max-width: 900px) {
    .content_page__2_section__image__text {
        width: 100%;
        max-width: 100%;
        margin: 0;
        padding: 50px 20px;
    }
}
