<!-- start footer -->

<footer class="main_footer">
    <div class="container">
        <div class="main_footer__col_1">
            <a href="" class="main_footer__logo">
                <img src="images/logo_white.png" alt="">
            </a>
            <div class="main_footer__contact">
                <div class="main_footer__contact__item">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M22.0004 16.92V19.92C22.0016 20.1985 21.9445 20.4741 21.8329 20.7293C21.7214 20.9845 21.5577 21.2136 21.3525 21.4018C21.1473 21.5901 20.905 21.7335 20.6412 21.8227C20.3773 21.9119 20.0978 21.945 19.8204 21.92C16.7433 21.5856 13.7874 20.5341 11.1904 18.85C8.77425 17.3146 6.72576 15.2661 5.19042 12.85C3.5004 10.2412 2.44866 7.27097 2.12042 4.17997C2.09543 3.90344 2.1283 3.62474 2.21692 3.3616C2.30555 3.09846 2.44799 2.85666 2.63519 2.6516C2.82238 2.44653 3.05023 2.28268 3.30421 2.1705C3.5582 2.05831 3.83276 2.00024 4.11042 1.99997H7.11042C7.59573 1.9952 8.06621 2.16705 8.43418 2.48351C8.80215 2.79996 9.0425 3.23942 9.11042 3.71997C9.23704 4.68004 9.47187 5.6227 9.81042 6.52997C9.94497 6.8879 9.97408 7.27689 9.89433 7.65086C9.81457 8.02482 9.62928 8.36809 9.36042 8.63998L8.09042 9.90997C9.51398 12.4135 11.5869 14.4864 14.0904 15.91L15.3604 14.64C15.6323 14.3711 15.9756 14.1858 16.3495 14.1061C16.7235 14.0263 17.1125 14.0554 17.4704 14.19C18.3777 14.5285 19.3204 14.7634 20.2804 14.89C20.7662 14.9585 21.2098 15.2032 21.527 15.5775C21.8441 15.9518 22.0126 16.4296 22.0004 16.92Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <div class="main_footer__contact__item__inner">
                        <a href="tel:888.978.2532">888.978.2532</a> |
                        <a href="tel:305.459.1156">305.459.1156</a>
                    </div>
                </div>

                <div class="main_footer__contact__item">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18V6C2 4.9 2.9 4 4 4Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M22 6L12 13L2 6" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                    <div class="main_footer__contact__item__inner">
                        <a href="mailto:prestigelimos@live.com">prestigelimos@live.com</a>
                    </div>
                </div>



            </div>
            <div class="main_footer__term">
                <a href="">Terms & Conditions</a>
            </div>
            <div class="main_footer__copyright">© 2023 - MIAMI PRESTIGE LIMOS. ALL RIGHT RESERVED.</div>
        </div>
        <div class="main_footer__col_2">
            <div class="main_footer__subscribe">
                <div class="main_footer__subscribe__title">Keep In Touch</div>
                <div class="main_footer__subscribe__text">Leave us your email to receive a special promo code for your next ride</div>
                <div class="main_footer__subscribe__form">
                    <form action="">
                        <input type="email" name="email" placeholder="Email" required>
                        <input type="submit" value="Subscribe" class="btn_default btn_x">
                    </form>
                </div>
                <div class="main_footer__subscribe__addtext">By submitting your email address, You agree to receive occasional marketing communication from us. We will not sell your information to third parties.</div>
            </div>
            <a href="" class="main_footer__develop">
                Powered by Web <span class="main_footer__develop__x">&</span> Ad
            </a>
        </div>
    </div>
</footer>


@@include('modal.html')
<script src="js/app.min.js?19"></script>