<div class="header_phones">
    <div class="container">
        <div class="header_phones__inner">
            <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M21 15.92V18.92C21.0011 19.1985 20.9441 19.4741 20.8325 19.7293C20.7209 19.9845 20.5573 20.2136 20.3521 20.4018C20.1468 20.5901 19.9046 20.7335 19.6407 20.8227C19.3769 20.9119 19.0974 20.945 18.82 20.92C15.7428 20.5856 12.787 19.5341 10.19 17.85C7.77382 16.3146 5.72533 14.2661 4.18999 11.85C2.49997 9.24118 1.44824 6.27097 1.11999 3.17997C1.095 2.90344 1.12787 2.62474 1.21649 2.3616C1.30512 2.09846 1.44756 1.85666 1.63476 1.6516C1.82196 1.44653 2.0498 1.28268 2.30379 1.1705C2.55777 1.05831 2.83233 1.00024 3.10999 0.999975H6.10999C6.5953 0.995198 7.06579 1.16705 7.43376 1.48351C7.80173 1.79996 8.04207 2.23942 8.10999 2.71997C8.23662 3.68004 8.47144 4.6227 8.80999 5.52997C8.94454 5.8879 8.97366 6.27689 8.8939 6.65086C8.81415 7.02482 8.62886 7.36809 8.35999 7.63998L7.08999 8.90997C8.51355 11.4135 10.5864 13.4864 13.09 14.91L14.36 13.64C14.6319 13.3711 14.9751 13.1858 15.3491 13.1061C15.7231 13.0263 16.1121 13.0554 16.47 13.19C17.3773 13.5285 18.3199 13.7634 19.28 13.89C19.7658 13.9585 20.2094 14.2032 20.5265 14.5775C20.8437 14.9518 21.0122 15.4296 21 15.92Z" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            <div class="header_phones__inner__list">
                <a href="tel:888.978.2532">888.978.2532</a> |
                <a href="tel:305.459.1156">305.459.1156</a>
            </div>
        </div>
    </div>
</div>
<header class="header_main header_main--home">
    <div class="container">

        <a href="" class="header__logo">
            <img src="images/logo_white.png" alt="main logo">
        </a>

        <nav class="header__menu">
            <ul class="header__menu__list">
                <li><a href="">About us</a></li>
                <li><a class="active" href="">Fleet</a></li>
                <li class="has_submenu">
                    <a href="">Services</a>
                    <ul class="submenu">
                        <li>
                            <a href="">
                                <img src="images/icons/menu/air.svg">
                                Airport
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/icons/menu/corporate.svg">
                                Corporate
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <img src="images/icons/menu/personal.svg">
                                Personal
                            </a>
                        </li>

                        <li>
                            <a href="">
                                <img src="images/icons/menu/wedding.svg">
                                Wedding
                            </a>
                        </li>
                    </ul>
                </li>
                <li><a href="">Rates</a></li>
                <li><a href="">FAQ</a></li>
                <li><a href="">Contact us</a></li>
            </ul>
        </nav>


        <div class="header__info">
            <a href="" class="header__btn btn_default btn_x">Reserve now</a>
            <button class="header_btn_menu btn_menu js_btn_menu">
                <span></span>
                <span></span>
                <span></span>
            </button>
        </div>




    </div>
</header>

<!-- end header -->