<div class="js_reserve__step_x content_reserve__step_x content_reserve__step_x_2">
    <div class="content_reserve__step_x__title">Additional information (optional)</div>
    <div class="field_reserve_wrap field_reserve_wrap--1">

        <div class="field_row">
            <label class="field_item">
                <div class="field_item_title">Additional information</div>
                <div class="field_item_x">
                    <textarea name="message" placeholder="Write information"></textarea>
                </div>
            </label>
        </div>

        <div class="content_reserve__step_x__4_text">
            <p>By submiting this form you agreed that :</p>
            <p>1. You are the credit card holder or have been authorized by the cardholder to make this transaction.</p>
            <p>2. You are requesting the services that you are submitting.</p>
            <p>3. You authorize us to charge the above credit card for this transaction.</p>
        </div>

        <div class="field_item__checkbox field_item__checkbox--reserve">
            <label>
                <input type="checkbox" name="agree" required>
                <div class="field_item__checkbox__view"></div>
                <div class="field_item__checkbox__text">
                    I have read and agreed to the <a href="">Terms & Conditions</a>
                </div>
            </label>
        </div>

        <div class="field_reserve_btns">
            <div class="btn_default btn_r_back btn_field_reserve_btn js_btn_field_reserve--back">
                <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.292892 7.2929C-0.0976315 7.68342 -0.0976314 8.31658 0.292893 8.70711L6.65686 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928933C7.68054 0.538409 7.04738 0.538409 6.65685 0.928933L0.292892 7.2929ZM21 7L1 7L1 9L21 9L21 7Z" fill="#232121"/>
                </svg>
                 Back
            </div>
            <div class="btn_default btn_x btn_field_reserve_btn btn_field_reserve_btn--last js_btn_field_send">Send</div>
        </div>

    </div>
</div>
