<div class="js_reserve__step_x content_reserve__step_x content_reserve__step_x_2">
    <div class="content_reserve__step_x__title">Ride details</div>
    <div class="field_reserve_wrap field_reserve_wrap--full field_reserve_wrap--2">

        <div class="field_row field_row--size_percent">
            <label class="field_item field_item--2-4">
                <div class="field_item_title">Vehicle type</div>
                <div class="field_item_x">
                    <select name="" id="" class="js_select">
                        <option value="1">value 1</option>
                        <option value="2">value 2</option>
                        <option value="3">value 3</option>
                        <option value="4">value 4</option>
                    </select>
                </div>
            </label>

            <label class="field_item field_item--1-4">
                <div class="field_item_title">Date</div>
                <div class="field_item_x">
                    <input type="date" name="date" required placeholder="Date">
                </div>
            </label>

            <label class="field_item field_item--1-4">
                <div class="field_item_title">Time</div>
                <div class="field_item_x">
                    <input type="time" name="time" required placeholder="Time">
                </div>
            </label>
       </div>

       <div class="field_row field_row--size_percent">
            <label class="field_item field_item--2-4">
                <div class="field_item_title">Service type</div>
                <div class="field_item_x">
                    <select name="" id="" class="js_select">
                        <option value="1">value 1</option>
                        <option value="2">value 2</option>
                        <option value="3">value 3</option>
                        <option value="4">value 4</option>
                    </select>
                </div>
            </label>

            <label class="field_item field_item--1-4">
                <div class="field_item_title">Passengers</div>
                <div class="field_item_x">
                    <input type="text" name="pass" required placeholder="# of Pass">
                </div>
            </label>

            <label class="field_item field_item--1-4">
                <div class="field_item_title">Bags</div>
                <div class="field_item_x">
                    <input type="text" name="bags" required placeholder="# of Bags">
                </div>
            </label>
        </div>


        <div class="field_row field_row--reserve_y">


            <div class="field_row--reserve_y_col js_field_row--reserve_y_col">

                <div class="field_row--reserve_y__check_wrap">
                    <div class="field_row--reserve_y__check_title">Pick up:</div>
                    <div class="field_item__checkbox">
                        <label>
                            <input type="checkbox" name="pich_up" required>
                            <div class="field_item__checkbox__view"></div>
                            <div class="field_item__checkbox__text">
                                Use address information listed above
                            </div>
                        </label>
                    </div>
                </div>

                <div class="field_row--reserve_y__radio_wrap">
                    <div class="field_row--reserve_y__radio__list">
                        <div class="field_item__radio js_field_row--reserve_y_field">
                            <label>
                                <input type="radio" name="from" checked value="0">
                                <div class="field_item__radio__view"></div>
                                <div class="field_item__radio__text">
                                    Street address
                                </div>
                            </label>
                        </div>
                        <div class="field_item__radio js_field_row--reserve_y_field">
                            <label>
                                <input type="radio" name="from" value="1">
                                <div class="field_item__radio__view"></div>
                                <div class="field_item__radio__text">
                                    Airport
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="field_row--reserve_y__radio_content js_field_row--reserve_y__radio_content">
                    <div class="field_row--reserve_y__radio_content_item active">
                        @@include('step2-street.html')
                    </div>
                    <div class="field_row--reserve_y__radio_content_item">
                        @@include('step2-airport.html')
                    </div>
                </div>

            </div>


            <div class="field_row--reserve_y_col js_field_row--reserve_y_col">
                <div class="field_row--reserve_y__check_wrap">
                    <div class="field_row--reserve_y__check_title field_row--reserve_y__check_title--big_margin_bottom">Destination:</div>
                </div>

                <div class="field_row--reserve_y__radio_top">
                    <div class="field_row--reserve_y__radio__list">
                        <div class="field_item__radio js_field_row--reserve_y_field">
                            <label>
                                <input type="radio" name="to" value="0">
                                <div class="field_item__radio__view"></div>
                                <div class="field_item__radio__text">
                                    Street address
                                </div>
                            </label>
                        </div>
                        <div class="field_item__radio js_field_row--reserve_y_field">
                            <label>
                                <input type="radio" name="to" value="1" checked>
                                <div class="field_item__radio__view"></div>
                                <div class="field_item__radio__text">
                                    Airport
                                </div>
                            </label>
                        </div>
                    </div>
                </div>

                <div class="field_row--reserve_y__radio_content js_field_row--reserve_y__radio_content">
                    <div class="field_row--reserve_y__radio_content_item">
                        @@include('step2-street.html')
                    </div>
                    <div class="field_row--reserve_y__radio_content_item active">
                        @@include('step2-airport.html')
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="field_reserve_btns">
        <div class="btn_default btn_r_back btn_field_reserve_btn js_btn_field_reserve--back">
            <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.292892 7.2929C-0.0976315 7.68342 -0.0976314 8.31658 0.292893 8.70711L6.65686 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928933C7.68054 0.538409 7.04738 0.538409 6.65685 0.928933L0.292892 7.2929ZM21 7L1 7L1 9L21 9L21 7Z" fill="#232121"/>
            </svg>
             Back
        </div>
        <div class="btn_default btn_r btn_field_reserve_btn js_btn_field_reserve--next">Next</div>
    </div>

</div>
