<div class="js_reserve__step_x content_reserve__step_x content_reserve__step_x_1 active">
    <div class="content_reserve__step_x__title">Passenger information</div>

    <div class="field_reserve_wrap field_reserve_wrap--1">
        <div class="field_row field_row__step_x_1--1">
            <label class="field_item">
                <div class="field_item_title">Name</div>
                <div class="field_item_x">
                    <input type="text" name="name" required placeholder="Write your name">
                </div>
            </label>
            <label class="field_item">
                <div class="field_item_title">Company name</div>
                <div class="field_item_x">
                    <input type="text" name="company_name" placeholder="Company name">
                </div>
            </label>
        </div>

        <div class="field_row field_row__step_x_1--2 field_row__pos-r">
            <label class="field_item field_item--big">
                <div class="field_item_title">Address</div>
                <div class="field_item_x">
                    <input type="text" name="adress" required placeholder="Write your adress">
                </div>
            </label>
            <label class="field_item field_item--small">
                <div class="field_item_title">City</div>
                <div class="field_item_x">
                    <input type="text" name="city" required placeholder="Company name">
                </div>
            </label>
            <label class="field_item field_item--small">
                <div class="field_item_title">State</div>
                <div class="field_item_x">
                    <select name="" id="" class="js_select">
                        <option value="1">value 1</option>
                        <option value="2">value 2</option>
                        <option value="3">value 3</option>
                        <option value="4">value 4</option>
                    </select>
                </div>
            </label>
            <label class="field_item field_item--reserve--zip">
                <div class="field_item_title">Zip</div>
                <div class="field_item_x">
                    <input type="text" name="zip" placeholder="zip">
                </div>
            </label>
        </div>

        <div class="field_row field_row__step_x_1--3">
            <label class="field_item field_item--big">
                <div class="field_item_title">Email</div>
                <div class="field_item_x">
                    <input type="email" name="email" required placeholder="Write your email">
                </div>
            </label>
            <label class="field_item field_item--small">
                <div class="field_item_title">Phone</div>
                <div class="field_item_x">
                    <input type="tel" name="phone" required placeholder="Phone">
                </div>
            </label>
            <label class="field_item field_item--small">
                <div class="field_item_title">Daytime phone</div>
                <div class="field_item_x">
                    <input type="tel" name="phone" required placeholder="Phone">
                </div>
            </label>
        </div>
    </div>
    <div class="field_reserve_btns">
        <div class="btn_default btn_r btn_field_reserve_btn js_btn_field_reserve--next">Next</div>
    </div>

</div>