<div class="js_reserve__step_x content_reserve__step_x content_reserve__step_x_2">
    <div class="content_reserve__step_x__title">Payment Details</div>
    <div class="field_reserve_wrap field_reserve_wrap--1">

        <div class="field_row field_row--paycard">
            <label class="field_item field_item--billing_card_number">
                <div class="field_item_title">Credit card number</div>
                <div class="field_item_x">
                    <input type="text" name="card_number" placeholder="Card number" required>
                </div>
            </label>
            <label class="field_item field_item--billing_card_exp_date">
                <div class="field_item_title">Exp. date</div>
                <div class="field_item_x">
                    <input type="text" name="exp_date" placeholder="XX/XX" required>
                </div>
            </label>
            <label class="field_item field_item--billing_card_cvv">
                <div class="field_item_title">CVV</div>
                <div class="field_item_x">
                    <input type="password" name="cvv" placeholder="***" required>
                </div>
            </label>
        </div>

        <div class="field_item__radio field_item__radio--billing">
            <label>
                <input type="radio" name="agree">
                <div class="field_item__radio__view"></div>
                <div class="field_item__radio__text">
                    <b>Billing same as passenger’s info</b>
                </div>
            </label>
        </div>
    </div>

    <div class="field_reserve_btns">
        <div class="btn_default btn_r_back btn_field_reserve_btn js_btn_field_reserve--back">
            <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.292892 7.2929C-0.0976315 7.68342 -0.0976314 8.31658 0.292893 8.70711L6.65686 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34315C8.46159 1.95262 8.46159 1.31946 8.07107 0.928933C7.68054 0.538409 7.04738 0.538409 6.65685 0.928933L0.292892 7.2929ZM21 7L1 7L1 9L21 9L21 7Z" fill="#232121"/>
            </svg>
             Back
        </div>
        <div class="btn_default btn_r btn_field_reserve_btn js_btn_field_reserve--next">Next</div>
    </div>

</div>
