<div class="js_reserve__step_x--thank content_reserve__step_x content_reserve__step--thank ">
    <div class="content_reserve__step_x__thank">
        <div class="content_reserve__step_x__thank__icon">
            <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg">
                <circle cx="49.7696" cy="49.7702" r="45.7618" fill="#FFCD00"/>
                <path d="M68.3327 39.5836L43.1244 64.792L31.666 53.3336" stroke="white" stroke-width="4.00833" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
        </div>
        <div class="content_reserve__step_x__thank__title">Thank you! <br>Message has been sent.</div>
        <div class="content_reserve__step_x__thank__text">We shall be contacting you soon!</div>
        <div class="content_reserve__step_x__thank__more">
            <a href="" class="btn_default btn_x btn_step_x__thank__more">Go home page</a>
        </div>
    </div>
</div>