.content_term__top.content_term__top--rates {
    margin-bottom: 20px;
}

.content_page__rate__tab {
    display: flex;
    justify-content: center;
    margin-bottom: 29px;
}

.content_page__rate__tab a {
    display: inline-flex;
    align-items: center;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: inherit;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    border-radius: 2px 0 0 2px;
    width: 300px;
    padding: 13px 20px;
    justify-content: center;
}

.content_page__rate__tab a svg {
    margin-right: 10px;
    transition: 0.25s;
}

.content_page__rate__tab a+a {
    border-radius: 0px 2px 2px 0px;
    border-left: none;
}

.content_page__rate__tab a:hover {
    background: #232121;
    color: #fff;
    border-color: #232121;
}


.content_page__rate__tab a:hover svg {
    filter: brightness(0) invert(1);
}

.content_page__rate__tab a.active {
    background: #FFCD00;
    border-color: #FFCD00;
    color: inherit;
}

.content_page__rate__tab a.active svg {
    filter: none
}


.rate__tab__content__item__text {
    font-size: 14px;
    max-width: 800px;
    margin: 0 auto;
}

.rate__tab__content__item__text--top {
    text-align: center;
    margin-bottom: 34px;
}

.content_page__rate__list__content {
    margin: 0 auto;
}

.rate__tab__content__item__table {
    max-width: 800px;
    margin: 0 auto 35px;
}

.rate__tab__content__item__table td {
    color: #232121;
    padding: 24px 20px;
    transition: 0.25s;
    border-bottom: 1px solid rgba(35, 33, 33, 0.2);
}

.rate__tab__content__item__table th {
    font-weight: 500;
    text-align: left;
    padding: 11px 23px 12px;
    border-bottom: 1px solid #ccc;
}

.rate__tab__content__item__table table {
    width: 100%;
    border-collapse: collapse;
}

.rate__tab__content__item__table td:first-child,
.rate__tab__content__item__table th:first-child {}

td.table__rate__tab__th_btn {
    border: none;
    background: transparent;
    opacity: 0;
    transition: 0.25s;
    position: absolute;
    top: 50%;
    padding: 0;
    transform: translate(0, -50%);
    left: calc(100% + 15px);
}

.btn_z {
    background: #FFCD00;
    box-shadow: 2px 6px 28px rgba(123, 117, 117, 0.16);
    border-radius: 2px;
    padding: 18px 41px;
    font-weight: 500;
    display: inline-flex;
}

.rate__tab__content__item__table tr:hover td {
    background: rgba(255, 205, 0, 0.06);
    font-weight: 600;
    border-bottom-color: #ffcd00;
}

.rate__tab__content__item__table tr:hover td.table__rate__tab__th_btn {
    opacity: 1
}

.btn_z:hover {
    background: #f1b416;
}

.rate__tab__content__item__text p {
    margin-bottom: 25px;
    line-height: 1.6;
}

.rate__tab__content__item__text p:last-child {
    margin-bottom: 0;
}

.content_page.content_page--rates {
    background: #F5F4EF;
}

.rate__tab__content__item__table tr {
    position: relative;
}

.btn_table__rate__z {
    white-space: nowrap;
}

th.table__rate__tab__th_btn.table__rate__tab__th_btn--empty {
    opacity: 0;
    border: none;
    display: none;
}

.content_page__rate {
    padding-bottom: 100px;
}


@media screen and (max-width: 1200px) {
    .rate__tab__content__item__table {
        max-width: 1200px;
        padding-right: 200px;
    }
}

@media screen and (max-width: 750px) {
    .rate__tab__content__item__table td.table__rate__tab__th_btn {
        position: static;
        transform: none;
        opacity: 1;
        width: 130px;
        padding: 0;
    }

    th.table__rate__tab__th_btn.table__rate__tab__th_btn--empty {
        display: block;
        padding: 11px 0;
    }

    .rate__tab__content__item__table {
        padding-right: 0;
        overflow: scroll;
        margin: 0 -20px 35px;
        padding-right: 20px;
    }

    .rate__tab__content__item__table::-webkit-scrollbar {
        display: none;
    }

    .rate__tab__content__item__table {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .btn_table__rate__z {
        padding: 9px 20px;
        font-size: 13px;
        width: 100%;
        justify-content: center;
    }

    .rate__tab__content__item__table td {
        padding: 18px 14px;
    }

    .rate__tab__content__item__table table {
        min-width: 650px;
    }
}